<!DOCTYPE html>
<html ng-app="adminApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EverExpert</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/images/ee-logo-fav.png">
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="admin/styles/font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="admin/styles/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="admin/vendors/AdminLTE-master/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--<link rel="stylesheet" type="text/css" href="/bower_components/ng-img-crop/compile/minified/ng-img-crop.css">-->


  <link href="admin/vendors/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
  <link href="admin/styles/style.css" rel="stylesheet" />

</head>

<body class="hold-transition skin-blue sidebar-mini">

<%- body %>

</body>
<!-- jQuery 2.2.3 -->
<script src="admin/vendors/AdminLTE-master/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="admin/js/importantJS/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--<script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>-->




<!-- Bootstrap 3.3.6 -->
<script src="admin/vendors/AdminLTE-master/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="admin/js/importantJS/raphael-min.js"></script>
<!--<script src="admin-vendors/AdminLTE-master/plugins/morris/morris.min.js"></script>-->
<!-- Sparkline -->
<script src="admin/vendors/AdminLTE-master/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="admin/vendors/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="admin/vendors/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="admin/vendors/AdminLTE-master/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="admin/js/importantJS/moment.min.js"></script>
<script src="admin/vendors/AdminLTE-master/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="admin/vendors/AdminLTE-master/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="admin/vendors/AdminLTE-master/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="admin/vendors/AdminLTE-master/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="admin/vendors/AdminLTE-master/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="admin/vendors/AdminLTE-master/dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="admin/vendors/AdminLTE-master/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="admin/vendors/AdminLTE-master/dist/js/demo.js"></script>
<!-- select2 -->
<script src="admin/js/importantJS/select2.min.js"></script>
<!-- app.js -->
<script src="admin/js/app.js"></script>

<!-- Controllers.js -->
<script src="admin/js/controllers/BodyController.js"></script>
<script src="admin/js/controllers/auth/loginController.js"></script>
<script src="admin/js/controllers/auth/RecoverController.js"></script>
<script src="admin/js/controllers/auth/ResetPasswordController.js"></script>

<script src="admin/js/controllers/home/HomeController.js"></script>
<script src="admin/js/controllers/media-manager/MediaManagerController.js"></script>

<script src="admin/js/controllers/settings/EditSettingsController.js"></script>
<script src="admin/js/controllers/order/OrderController.js"></script>
<script src="admin/js/controllers/subscription/SubscriptionController.js"></script>
<script src="admin/js/controllers/users/UserController.js"></script>

<script src="admin/js/controllers/blog/BlogController.js"></script>
<script src="admin/js/controllers/blog/AddBlogController.js"></script>
<script src="admin/js/controllers/blog/EditBlogController.js"></script>
<script src="admin/js/controllers/blog/BlogcommentsController.js"></script>

<script src="admin/js/controllers/blog/BlogCategoryController.js"></script>
<script src="admin/js/controllers/blog/AddBlogCategoryController.js"></script>
<script src="admin/js/controllers/blog/EditBlogCategoryController.js"></script>

<script src="admin/js/controllers/processing/ProcessingController.js"></script>

<!-- Services.js -->
<script src="admin/js/services/auth.js"></script>
<script src="admin/js/services/currentUser.js"></script>
<script src="admin/js/services/accessLevels.js"></script>
<script src="admin/js/services/localStorage.js"></script>
<script src="admin/js/services/options.js"></script>
<!-- routes.js -->
<script src="admin/js/routes.js"></script>
<script src="/bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
<script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
</html>
