<section class="content-header">
  <h1>Subscriptions</h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <table class="table table-bordered">
      <!--Headers-->
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Subscription Created</th>
      </tr>
      <!--Data-->
      <tr ng-repeat="x in subscriptions">
        <td style="width: 5%">{{$index+1}}</td>
        <td>{{x.email}}</td>
        <td>{{x.createdAt}}</td>
        <td>
          <a ng-click="deleteEmail(x,$index)" class="btn btn-primary">Delete</a>
        </td>
      </tr>
      <tr ng-if="!subscriptions.length">
        <td colspan="4" style="text-align:center">Empty list</td>
      </tr>
    </table>
  </div>
</section>

