<div id="bg" class="bg" ng-init="backtotop()">
  <img ng-src="images/home/bg.jpg">
</div>
<form name="registerForm" class="form-signin" novalidate style="margin-top:125px">
  <div class="mjh_modal-header">
    <h4 class="modal-title" id="myModalLabel">Login</h4>
  </div>
  <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
  <div class="control-group">
    <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
    <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error">
      <div ng-message="required">
        You forgot the email address.
      </div>
      <div ng-message="email">
        That is not a well formed email address.
      </div>
    </div>
  </div>
  <div class="control-group">
    <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
    <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error">
      <div ng-message="required">
        You forgot the password.
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Login" />
  <a  ui-sref="anon.register">Register?</a>&nbsp;&nbsp;&nbsp;
  <a  ui-sref="anon.recover">Forget Password?</a>
</form>
