<div id="bg" class="bg" ng-init="backtotop()">
    <img ng-src="images/home/bg.jpg">
</div>

<form  name="recover" class="form-signin" novalidate style="margin-top:20px">
    <div ng-if="!foundEmail">
        <p>We have updated our authentication policy. Please change your password.
        </p>
        <div class="control-group">
            <input type="email" class="form-control" style="color:black" placeholder="enter your email" name="email" ng-model="user.email" required>
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="oldUserresetPassword()" value="send" />
    </div>

    <div ng-if="foundEmail">
        {{foundEmail}}
    </div>
</form>

