<section class="content-header">
  <h1>Media</h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="pull-right btn btn-info" ng-click="createSymlink()">Sync</button>-->
        Upload New Image
        <input class=" btn"  type="file" ngf-select ngf-change="onlyUploadImage($files)" ng-multiple="multiple">
      </div>
      <div class="modal-body">
        <!--folders-->
        <div class="col-sm-3">
          <div class="mjh_imagefolders">
            <h4>Images </h4>
            <div ng-repeat="x in allfolders">
              <span ng-class="currentFolderIndex==$index?'activeFolder':''" ng-click="showImages(x,$index)">{{x}}</span>
            </div>
          </div>
        </div>
        <!--images-->
        <div class="col-sm-9">
          <div class="mjh_allImages">
            <!--images-from-first-folder-->
            <div ng-repeat="x in rootfolderimg" ng-if="rootimg_hide">
              <i class="fa fa-times" aria-hidden="true"  ng-click="deleteThisImage(x,'rootImageFolder')"></i>
              <img ng-src="{{x}}" title="{{x}}" ng-click="selectedImage(x)">
            </div>
            <!--images-from-folders-->
            <div ng-repeat="x in selectedFolderimg">
              <i class="fa fa-times" aria-hidden="true" ng-click="deleteThisImage(x,'subImageFolder')"></i>
              <img ng-src="{{x}}" title="{{x}}" ng-click="selectedImage(x)">
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    </div>
  </div>
</section>

