<section class="content-header">
  <h1>Users

  </h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <table class="table table-bordered">
      <!--Headers-->
      <tr>
        <th>#</th>
        <!--<th>User Firstname</th>-->
        <th>Email</th>
        <th>User Role</th>
        <!--<th>New Created</th>-->
        <!--<th>Old Created</th>-->
        <!--<th>Updated</th>-->
        <th>Action</th>
      </tr>
      <!--Data-->
      <tr ng-repeat="x in users">
        <td style="width: 5%">{{$index+1}}</td>
        <!--<td>{{x.first_name}}</td>-->
        <td>{{x.email}}</td>
        <td> <span ng-show="auth.isEditor() || auth.isAdmin()">{{x.userRole}}</span>
          <select ng-model="x.userRole" ng-hide="auth.isEditor() || auth.isAdmin()">
            <option value="superAdmin" >Super User</option>
            <option value="admin">Admin</option>
            <option value="editor">Editor</option>
          </select>
        </td>
        <!--<td>{{x.createdAt|date:'d-MMM-yyyy'}}</td>-->
        <!--<td>{{x.user_registered|date:'d-MMM-yyyy'}}</td>-->
        <!--<td>{{x.updatedAt|date:'d-MMM-yyyy'}}</td>-->
        <td>
          <a ng-click="deleteEmail(x,$index)" class="btn btn-primary" ng-hide="auth.isSuperAdmin() ? '' : x.notAllow">Delete</a>
          <a type="submit" class=" pull-right btn btn-primary" ng-click="save(x)" ng-hide="auth.isEditor() || auth.isAdmin()">Update</a>
        </td>
      </tr>
      <tr ng-if="!users.length">
        <td colspan="4" style="text-align:center">Empty list</td>
      </tr>
      <tr ng-hide="auth.isEditor()">
        <td colspan="4"><a class="btn btn-primary" ng-hide="ShowUserForm" ng-click="addNewUser()">Add New User</a></td>
      </tr>
      <tr ng-show="ShowUserForm">
        <td colspan="4" style="text-align:center">
          <form style="margin-top: 25px" name="registerForm" class="form-signin" novalidate>
            <div class="mjh_modal-header">
              <h4 class="modal-title" id="myModalLabel">Registration</h4>
            </div>
            <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{errors}}
            </div>
            <div class="control-group">
              <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
            </div>
            <div class="control-group">
              <select class="form-control" ng-model="user.userRole">
                <option value="" style="color: lightgrey" selected> Select User role</option>
                <option value="editor">Editor</option>
              </select>
            </div>
            <div class="control-group">
              <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
            </div>
            <div class="control-group">
              <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword" ng-model="user.confirmPassword" required>
            </div>

            <input type="submit" class="btn btn-lg btn-primary text-center" ng-click="register()" value="Create User" />
          </form>
        </td>
      </tr>
    </table>

  </div>
</section>

