<div class=" blog-view" ng-repeat="x in Blogs.slice().reverse()" >
    <div class="photo blog-image">
        <img ng-src="{{x.blogImage}}" style="width: 100%">
    </div>
    <div class="blog-content">
        <h3 style="padding-top: 20px"><a ui-sref="anon.blog.details({categorySlug:x.post_category.category_slug,blogSlug:x.blogSlug,blogId:x.id})" style="color: #1b7106;">{{x.blogTitle}}</a></h3>
        <p style="color: #1b7106;"><span style="color: #d3c025">Posted by </span>{{x.authorName}}</p>
        <p ng-bind-html="renderHtml(x.blogShortDiscription)"></p>
        <p class="readmore-blog" ui-sref="anon.blog.details({blogSlug:x.blogSlug,blogId:x.id})">Read More...</p>
    </div>
</div>
