                <div class="col-sm-12 col-md-12 .col-xl-6 blog-view">
                    <div>
                        <div class="photo blog-image">
                            <img ng-src="{{blog.blogImage}}" style="width: 100%">
                        </div>
                        <div  style="padding: 20px;">
                            <h3 style="color: #1b7106;">{{blog.blogTitle}}</h3>
                            <p style="color: #1b7106;"><span style="color: #d3c025">Posted by </span>{{blog.authorName}}</p>
                            <div style="color: black" ng-bind-html="renderHtml(blog.blogDiscription)"></div>
                        </div>
                        <div class="blogcomment">
                            <h2>Comments</h2>
                            <ul ng-repeat="x in comments" >
                                <li><h3><span style="margin-right: 10px;"><i class="fa fa-user blogcommentuser" aria-hidden="true"></i></span>{{x.name}}</h3>
                                    <p>{{x.comment_text}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>


                   <div class="col-md-12 coment-form">
                        <h4>Leave your comment</h4>
                        <form>
                            <p>Name</p>
                            <input type="text" placeholder="Enter Your Name" ng-model="comment.name">
                            <p>Email<span style="padding-left: 10px; color: #71b63d">(*will not be published)</span></p>
                            <input type="email" placeholder="Enter Your Email" ng-model="comment.email">
                            <!--<p>Phone Number<span style="padding-left: 10px; color: #71b63d">(*will not be published)</span></p>-->
                            <!--<input type="text" placeholder="Enter Your Phone Number" ng-model="comment.number">-->
                            <p>Blog Comment</p>
                            <textarea type="text" placeholder="Enter Your Blog Comments" ng-model="comment.comment_text">Your Comment...</textarea>
                            <input type="submit" value="Submit Comment" ng-click="blogComments()">
                        </form>
                    </div>
                </div>
