<div class="blog-catagories">
    <h3><a ui-sref="anon.blog.category({categoryId:'all'})">CATEGORIES</a></h3>
    <ul class="blog_categories_right">
        <li ng-repeat="category in blogCategories" ui-sref-active="active"><a ui-sref="anon.blog.category({categorySlug:category.category_slug,categoryId:category.id})">{{category.category_title}}<span class="bloglength">{{category.posts.length}}</span></a></li>
    </ul>
</div>
<!--popular posts-->
<!--<div class="blog-popular">-->
    <!--<h3 class="blog-populartitle">RECENT POSTS</h3>-->

    <!--<div ng-repeat="x in blog | limitTo:quantity | orderBy: '-createdAt' " class=" blog-popular">-->
        <!--<h3>-->
            <!--<a ui-sref="anon.blog.details({blogId:x.id})">-->
            <!--<img src="images/khaasfood-blank.png" ng-src={{x.image}} style="width: 50px;height:50px;float:left;margin-right:5px">-->
            <!--<span style="display:inline;font-size:16px">{{x.blogTitle}}</span>-->
            <!--</a>-->
        <!--</h3>-->
        <!--&lt;!&ndash;<p style="text-align:right">{{x.blogDate}}</p>&ndash;&gt;-->
    <!--</div>-->

<!--</div>-->

<!--<div class="blog_qoute">-->
    <!--<p class="qoute_text">QUOTE OF THE DAY</p>-->
    <!--<blockquote>-->
        <!--Quisque porta facilisis tortor-->
        <!--<cite>Somebody famous</cite>-->
    <!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; Recent Posts&ndash;&gt;-->
<!--<div class="recent_blog">-->
    <!--<p class="recent_post_text">RECENT COMMENTS</p>-->
    <!--<div class="blog-left-popular">-->
        <!--<div class="blog-popular-post-title"><img ng-src="images/home/blog-popular.png"></div><a href="">HABIBUL MOSTOFA ON “KHAAS FOOD” কি ও কেন?</a>-->
        <!--<p>30 June 2016</p>-->
    <!--</div>-->

    <!--<div class="blog-left-popular">-->
        <!--<div class="blog-popular-post-title"><img ng-src="images/home/blog-popular.png"></div><a href="">HABIBUL MOSTOFA ON আমাদের সালমান ভূঁইয়া ও ঘি এর সাতকাহন</a>-->
        <!--<p>30 June 2016</p>-->
    <!--</div>-->

    <!--<div class="blog-left-popular">-->
        <!--<div class="blog-popular-post-title"><img ng-src="images/home/blog-popular.png"></div><a href="">JASIM AHMED ON “KHAAS FOOD” কি ও কেন?</a>-->
        <!--<p>30 June 2016</p>-->
    <!--</div>-->

    <!--<div class="blog-left-popular">-->
        <!--<div class="blog-popular-post-title"><img ng-src="images/home/blog-popular.png"></div><a href="">JASIM AHMED ON আমাদের সালমান ভূঁইয়া ও ঘি এর সাতকাহন</a>-->
        <!--<p>30 June 2016</p>-->
    <!--</div>-->

    <!--<div class="blog-left-popular">-->
        <!--<div class="blog-popular-post-title"><img ng-src="images/home/blog-popular.png"></div><a href="">HABIBUL MOSTOFA ON মধু-লেবু পানির উপকারিতা</a>-->
        <!--<p>30 June 2016</p>-->
    <!--</div>-->
<!--</div>-->
<!--blog archive-->
<!--</div>-->

<div class="blogfacebook">
    <h3>OUR FACEBOOK PAGE</h3>
    <div class="fb-like" data-href="https://www.facebook.com/EverExpert/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</div>

<!--<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkhaasfood%2F&tabs&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
<div class="blogSubscribe">
    <h3>Subscribe</h3>
    <div>
        <div class="subscribeblog">
            <div class="input-group" ng-if="!returnMessage">
                <input class="subscribebutton" name="email" id="email" type="email" placeholder="Your Email" required ng-model="email">
                <button class="btn sub_but" type="submit" ng-click="subscribeMe(email)">Subscribe</button>
            </div>
            <div ng-if="returnMessage">
                <span class="subscribemessage">{{returnMessage}}</span>
            </div>
        </div>
    </div>
</div>