<div id="bg" class="bg portfolio" ng-init="backtotop()">
    <img ng-src="images/home/PORTOFOLIO.jpg">
    <!--<h1>Portfolio</h1>-->
</div>
<div class="blog" style="background-color: #F2F2F2;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 blog-left">
                <div class="blog-left-grid">
                    <ui-view></ui-view>
                </div>
            </div>
            <div class="col-md-3 blog-right">
                <div ng-include="'portfolio/portfoliosidebar.html'"></div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<input type="button"  class="goToTop" ng-click="goTop()" style="display:none; "  />