<section class="content-header">
    <h1>{{addOperation}} Portofolio Category <a ng-click="save()" class="btn btn-primary pull-right">{{addOperation}}</a>
        <a ui-sref="user.blog_category" class="btn btn-primary pull-right">Back</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Elements</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Category Name</label>
                                <input type="text" class="form-control" ng-change="makeTitleSlug()" placeholder="blog name" ng-model="blogcategory.category_title"/>
                            </div>
                            <div class="form-group">
                                <label>Category Slug</label>
                                <input type="text" class="form-control" placeholder="blog name" ng-model="blogcategory.category_slug"/>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
