<section class="content-header">
    <h1>Portfolio Categories<a ui-sref="user.add_blog_category" class="btn btn-primary pull-right">{{addOperation}}</a></h1>
</section>
<section class="content">
    <div class="box box-warning" style="overflow-x: auto">
        <table class="table table-bordered">
            <!--Headers-->
            <tr>
                <th>#</th>
                <th>Edit/Delete</th>
                <th>Category Name</th>
                <th>Category Slug</th>
            </tr>
            <!--Data-->
            <tr ng-repeat="x in blogcategory">
                <td style="width: 5%">{{$index+1}}</td>
                <td>
                    <a ui-sref="user.edit_blog_category({EditBlogCategoryId:x.id})" class="btn btn-primary" >Edit</a>
                    <a ng-click="deleteBlogCategory(x,$index)" class="btn btn-primary">Delete</a>
                </td>
                <td>{{x.category_title}}</td>
                <td>{{x.category_slug}}</td>
            </tr>
        </table>
    </div>
</section>

