<section class="content-header">
  <h1>Portfolio<a ui-sref="user.add_blog" class="btn btn-primary pull-right">{{addOperation}}</a></h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <table class="table table-bordered">
      <!--Headers-->
      <tr>
        <th>#</th>
        <th>Edit/Delete</th>
        <th>Blog Title</th>
        <th>Image</th>
        <th>Author Name</th>
        <!--<th>Category</th>-->
        <th>Category</th>
        <!--<th>Short Discription</th>-->
      </tr>
      <!--Data-->
      <tr ng-repeat="x in blogs">
        <td style="width: 5%">{{$index+1}}</td>
        <td>
        <a ui-sref="user.edit_blog({blogId:x.id})" class="btn btn-primary" >Edit</a>
        <a ng-click="deleteBlog(x,$index)" class="btn btn-primary">Delete</a>
        </td>
        <td>{{x.blogTitle}}</td>
        <td style="width: 100px"><img width="100%" ng-src="{{x.blogImage}}"/></td>
        <td>{{x.authorName}}</td>
        <!--<td>{{x.category}}</td>-->
        <td>{{x.post_category.category_title}}</td>
        <!--<td>{{x.blogShortDiscription}}</td>-->
      </tr>
      <!--<tr>-->
        <!--<td ng-if="!products.length" colspan="9">Empty Blog list</td>-->
      <!--</tr>-->
    </table>
  </div>
  <div class="paginatnbutton">
    <a ng-repeat="pg in totalPages" class="btn btn-default btnpagination" ui-sref-active="paginatnbuttonactive" ui-sref="user.blog({pageNum:pg})" ng-click="setPage(pg)">{{pg}}</a>
  </div>
</section>

