<section class="content-header">
  <h1>Portfolio Comments</h1>
</section>
<section class="content">
  <div class="box box-warning" style="overflow-x: auto">
    <table class="table table-bordered">
      <!--Headers-->
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <!--<th>Phone Number</th>-->
        <th>Blog Comments</th>
        <th>Blog Status</th>
        <th>Blog Title</th>
        <th>approve/delete</th>
      </tr>
      <!--Data-->
      <tr ng-repeat="x in blogcomments">
        <td style="width: 5%">{{$index+1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <!--<td>{{x.number}}</td>-->
        <td>{{x.comment_text}}</td>
        <td>{{x.comment_status}}</td>
        <td>{{x.blog.blogTitle}}</td>
        <td>
          <a ng-click="addComment(x)" class="btn btn-primary">approve</a>
          <a ng-click="deleteComment(x,$index)" class="btn btn-primary">Delete</a>
        </td>
      </tr>
      <tr ng-if="!blogcomments.length">
        <td colspan="6" style="text-align:center">Empty list</td>
      </tr>
    </table>
  </div>
</section>

