<!--<section class="content-header">-->
    <!--<h1>{{addOperation}} Home<a ng-click="save()" class="btn btn-primary pull-right">{{addOperation}}</a>-->
        <!--<a ui-sref="home" class="btn btn-primary pull-right">Back</a>-->
    <!--</h1>-->
<!--</section>-->
<!--<section class="content">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<form role="form">-->
                <!--<div class="box box-warning">-->
                    <!--<div class="box-header with-border">-->
                        <!--<h3 class="box-title">General Elements</h3>-->
                    <!--</div>-->
                    <!--<div class="box-body">-->
                        <!--<form role="form">-->
                            <!--&lt;!&ndash;ProductName&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Product Name</label>-->
                                <!--<input class="form-control" placeholder="Enter" ng-model="product.productName"/>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Category&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Product Category</label> <span class="pull-right-container"></span>-->
                                <!--<span class="plain-select">-->
                               <!--<select name="location" class="type" ng-model="product.category">-->
                                  <!--<option value="completed">completed</option>-->
                                  <!--<option value=upcoming  selected="selected">upcoming</option>-->
                                  <!--<option value=ongoing>ongoing</option>-->
                                <!--</select>-->
                              <!--</span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Measurement&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Measurement</label>-->
                                <!--<input class="form-control" rows="3" placeholder="Enter" ng-model="product.measurement"/>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Price&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Price</label>-->
                                <!--<input class="form-control" rows="3" placeholder="Enter" ng-model="product.price"/>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Sizes&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Sizes</label>-->
                                <!--<input class="form-control" rows="3" placeholder="Enter" ng-model="product.sizes"/>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Description&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Description</label>-->
                                <!--<textarea class="form-control" rows="3" placeholder="Enter" ng-model="product.description"></textarea>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Image&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group col-md-6">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label>Image</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="file" ng-file-select ng-file-change="onlyUploadImage('home_images',$files,'image')" ng-multiple="multiple">Select File</input>&ndash;&gt;-->
                                <!--&lt;!&ndash;<img class="post-image" ng-src="{{product.image}}">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
