<section class="content-header">
  <h1>Everexpert Dashboard</h1>
</section>
<!--<section class="content">-->

  <!--<div class="row">-->
    <!--<div class="col-lg-3 col-xs-6">-->
      <!--&lt;!&ndash; small box &ndash;&gt;-->
      <!--<div class="small-box bg-aqua">-->
        <!--<div class="inner">-->
          <!--<h3>150</h3>-->

          <!--<p>New Orders</p>-->
        <!--</div>-->
        <!--<div class="icon">-->
          <!--<i class="fa fa-shopping-bag" aria-hidden="true"></i>-->
        <!--</div>-->
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
      <!--&lt;!&ndash; small box &ndash;&gt;-->
      <!--<div class="small-box bg-green">-->
        <!--<div class="inner">-->
          <!--<h3>53<sup style="font-size: 20px">%</sup></h3>-->

          <!--<p>Total Users</p>-->
        <!--</div>-->
        <!--<div class="icon">-->
          <!--<i class="fa fa-users" aria-hidden="true"></i>-->
        <!--</div>-->
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
      <!--&lt;!&ndash; small box &ndash;&gt;-->
      <!--<div class="small-box bg-yellow">-->
        <!--<div class="inner">-->
          <!--<h3>44</h3>-->

          <!--<p>Sales</p>-->
        <!--</div>-->
        <!--<div class="icon">-->
          <!--<i class="fa fa-money" aria-hidden="true"></i>-->
        <!--</div>-->
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
      <!--&lt;!&ndash; small box &ndash;&gt;-->
      <!--<div class="small-box bg-red">-->
        <!--<div class="inner">-->
          <!--<h3>65</h3>-->

          <!--<p>Unique Visitors</p>-->
        <!--</div>-->
        <!--<div class="icon">-->
          <!--<i class="fa fa-file-text" aria-hidden="true"></i>-->
        <!--</div>-->
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--&lt;!&ndash; USERS LIST &ndash;&gt;-->
      <!--<div class="box box-danger">-->
        <!--<div class="box-header with-border">-->
          <!--<h3 class="box-title">Latest Members</h3>-->

          <!--<div class="box-tools pull-right">-->
            <!--<span class="label label-danger">8 New Members</span>-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--<div class="box-body no-padding">-->
          <!--<ul class="users-list clearfix">-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Alexander Pierce</a>-->
              <!--<span class="users-list-date">Today</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Norman</a>-->
              <!--<span class="users-list-date">Yesterday</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Jane</a>-->
              <!--<span class="users-list-date">12 Jan</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">John</a>-->
              <!--<span class="users-list-date">12 Jan</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Alexander</a>-->
              <!--<span class="users-list-date">13 Jan</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Sarah</a>-->
              <!--<span class="users-list-date">14 Jan</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Nora</a>-->
              <!--<span class="users-list-date">15 Jan</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="admin/images/user1-128x128.jpg" alt="User Image">-->
              <!--<a class="users-list-name" href="#">Nadia</a>-->
              <!--<span class="users-list-date">15 Jan</span>-->
            <!--</li>-->
          <!--</ul>-->
          <!--&lt;!&ndash; /.users-list &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer text-center">-->
          <!--<a href="javascript:void(0)" class="uppercase">View All Users</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-footer &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;/.box &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--&lt;!&ndash; TABLE: LATEST ORDERS &ndash;&gt;-->
      <!--<div class="box box-info">-->
        <!--<div class="box-header with-border">-->
          <!--<h3 class="box-title">Latest Orders</h3>-->

          <!--<div class="box-tools pull-right">-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--<div class="box-body">-->
          <!--<div class="table-responsive">-->
            <!--<table class="table no-margin">-->
              <!--<thead>-->
              <!--<tr>-->
                <!--<th>Order ID</th>-->
                <!--<th>Item</th>-->
                <!--<th>Status</th>-->
                <!--<th>Popularity</th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR9842</a></td>-->
                <!--<td>Call of Duty IV</td>-->
                <!--<td><span class="label label-success">Shipped</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR1848</a></td>-->
                <!--<td>Samsung Smart TV</td>-->
                <!--<td><span class="label label-warning">Pending</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR7429</a></td>-->
                <!--<td>iPhone 6 Plus</td>-->
                <!--<td><span class="label label-danger">Delivered</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR7429</a></td>-->
                <!--<td>Samsung Smart TV</td>-->
                <!--<td><span class="label label-info">Processing</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR1848</a></td>-->
                <!--<td>Samsung Smart TV</td>-->
                <!--<td><span class="label label-warning">Pending</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR7429</a></td>-->
                <!--<td>iPhone 6 Plus</td>-->
                <!--<td><span class="label label-danger">Delivered</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR9842</a></td>-->
                <!--<td>Call of Duty IV</td>-->
                <!--<td><span class="label label-success">Shipped</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><a href="pages/examples/invoice.html">OR9842</a></td>-->
                <!--<td>Call of Duty IV</td>-->
                <!--<td><span class="label label-success">Shipped</span></td>-->
                <!--<td>-->
                  <!--<div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>-->
                <!--</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.table-responsive &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer clearfix">-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>-->
          <!--<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-footer &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.box &ndash;&gt;-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--&lt;!&ndash; solid sales graph &ndash;&gt;-->
      <!--<div class="box box-solid bg-teal-gradient">-->
        <!--<div class="box-header">-->
          <!--<i class="fa fa-th"></i>-->

          <!--<h3 class="box-title">Sales Graph</h3>-->

          <!--<div class="box-tools pull-right">-->
            <!--<button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>-->
            <!--</button>-->
            <!--<button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="box-body border-radius-none">-->
          <!--<div class="chart" id="line-chart" style="height: 250px;"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer no-border">-->
          <!--<div class="row">-->
            <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
              <!--<input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">-->

              <!--<div class="knob-label">Mail-Orders</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; ./col &ndash;&gt;-->
            <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
              <!--<input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">-->

              <!--<div class="knob-label">Online</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; ./col &ndash;&gt;-->
            <!--<div class="col-xs-4 text-center">-->
              <!--<input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">-->

              <!--<div class="knob-label">In-Store</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; ./col &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.row &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-footer &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.box &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<div class="box box-primary">-->
        <!--<div class="box-header with-border">-->
          <!--<h3 class="box-title">Recently Added Products</h3>-->

          <!--<div class="box-tools pull-right">-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--<div class="box-body">-->
          <!--<ul class="products-list product-list-in-box">-->
            <!--<li class="item">-->
              <!--<div class="product-img">-->
                <!--<img src="dist/img/default-50x50.gif" alt="Product Image">-->
              <!--</div>-->
              <!--<div class="product-info">-->
                <!--<a href="javascript:void(0)" class="product-title">Samsung TV-->
                  <!--<span class="label label-warning pull-right">$1800</span></a>-->
                        <!--<span class="product-description">-->
                          <!--Samsung 32" 1080p 60Hz LED Smart HDTV.-->
                        <!--</span>-->
              <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; /.item &ndash;&gt;-->
            <!--<li class="item">-->
              <!--<div class="product-img">-->
                <!--<img src="dist/img/default-50x50.gif" alt="Product Image">-->
              <!--</div>-->
              <!--<div class="product-info">-->
                <!--<a href="javascript:void(0)" class="product-title">Bicycle-->
                  <!--<span class="label label-info pull-right">$700</span></a>-->
                        <!--<span class="product-description">-->
                          <!--26" Mongoose Dolomite Men's 7-speed, Navy Blue.-->
                        <!--</span>-->
              <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; /.item &ndash;&gt;-->
            <!--<li class="item">-->
              <!--<div class="product-img">-->
                <!--<img src="dist/img/default-50x50.gif" alt="Product Image">-->
              <!--</div>-->
              <!--<div class="product-info">-->
                <!--<a href="javascript:void(0)" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>-->
                        <!--<span class="product-description">-->
                          <!--Xbox One Console Bundle with Halo Master Chief Collection.-->
                        <!--</span>-->
              <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; /.item &ndash;&gt;-->
            <!--<li class="item">-->
              <!--<div class="product-img">-->
                <!--<img src="dist/img/default-50x50.gif" alt="Product Image">-->
              <!--</div>-->
              <!--<div class="product-info">-->
                <!--<a href="javascript:void(0)" class="product-title">PlayStation 4-->
                  <!--<span class="label label-success pull-right">$399</span></a>-->
                        <!--<span class="product-description">-->
                          <!--PlayStation 4 500GB Console (PS4)-->
                        <!--</span>-->
              <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; /.item &ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer text-center">-->
          <!--<a href="javascript:void(0)" class="uppercase">View All Products</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-footer &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.box &ndash;&gt;-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="box box-warning" style="overflow-x: auto">-->
        <!--<h3>Comming soon!</h3>-->
        <!--<div ng-repeat="x in images" style="float: left">-->
          <!--{{x}}-->
          <!--<img style="width: 60px" ng-src="{{x}}">-->
        <!--</div>-->
        <!--<button ng-click="thumbnailImg()">thumbnail image</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</section>-->


