
<!DOCTYPE html>
<html ng-app="app" ng-controller="BodyController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Everexpert {{pageTitle.mainSolgan}} {{pageTitle.othePageTitle}}</title>
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ee-logo-fav.png">
    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />-->
    <link href="/vendor/all/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="/vendor/all/select2.min.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrapt-theme.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/styles/leaflet.css">
    <link rel="stylesheet" href="/styles/lightbox.min.css">
    <link rel="stylesheet" href="/styles/slick-theme.css">
    <link rel="stylesheet" href="/styles/slick.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/ui-bootstrap-custom-2.3.1-csp.css">
    <!--STYLES END-->
    <!--<meta name="description" content="Khaas Food is an online shopping mall for chemical, insecticide & formalin free organic and fresh food lovers in Bangladesh. Order grocery and food online for home delivery and save time.">-->
    <!--<meta name="keywords" content="Khaasfood, online shopping in Bangladesh, Online Shop Bangladesh, online shopping store Bangladesh, bangladesh online shopping, online shopping bd, bangladesh online grocery, bangladesh bazaar, Oil, Chal, home delivery, Fresh vegetables, formalin free, free return, bd online shop, online shopping in Dhaka, online shop in Bangladesh, bangladesh online shopping,bd store, bdonline, online market bd,Food &amp;Beverage, Corriander Powder, Cumin Seed Powder, Garam Masala Powder, Red Chilli Powder, Turmeric Powder,pepper powder, panchpuron,honey,dry Fish, Ghee, Mustard Oil, Black Seed Oil, Kalijira Tel, shutki, Modhu, Mosla, Spices,sorishar tel, Organic Tea, Tea, Cha pata, Sundarban Honey, Mango, Soyvita, Puffed rice, Sauce, muri, Brown sugar, Brown atta, ata, cini, lal cini, Talbina, Achar, Pickle, Chutney, Tetul, Olive, Jolpai, Boroi, Jujube, Tamarind, Mishro sobji, Mixed Vegetable, Jely, Orange, Organic Egg, egg, Black seed, Green tea, Buckwheat, Buckwheat atta, Jam, Patali gur, Chaler gura, Daler bori ">-->
    <link rel="stylesheet" type="text/css" href="/styles-print/print.css" media="print">
    <base href="/">

    <!--&lt;!&ndash; Google Analytics Code &ndash;&gt;-->
    <!--<script>-->
        <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
                <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
        <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

        <!--ga('create', 'UA-87071692-1', 'auto');-->
<!--//        ga('send', 'pageview');-->
<!--//        console.log("pageview hoyechhe from layout page");-->
    <!--</script>-->

    <!-- Facebook Pixel Code -->
    <!--<script>-->
        <!--!function(f,b,e,v,n,t,s)-->
        <!--{if(f.fbq)return;n=f.fbq=function(){n.callMethod?-->
                <!--n.callMethod.apply(n,arguments):n.queue.push(arguments)};-->
            <!--if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';-->
            <!--n.queue=[];t=b.createElement(e);t.async=!0;-->
            <!--t.src=v;s=b.getElementsByTagName(e)[0];-->
            <!--s.parentNode.insertBefore(t,s)}(window,document,'script',-->
                <!--'https://connect.facebook.net/en_US/fbevents.js');-->

        <!--fbq('init', '339801803022656');-->
        <!--fbq('track', 'PageView');-->
    <!--</script>-->
    <!--<noscript>-->
        <!--<img height="1" width="1" src="https://www.facebook.com/tr?id=339801803022656&ev=PageView&noscript=1"/>-->
    <!--</noscript>-->
    <!--&lt;!&ndash; End Facebook Pixel Code &ndash;&gt;-->

</head>

<body>

<!--<nav class="navbar navbar-default" role="navigation" ng-controller="NavController">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">Angular messages</a>-->
<!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<div class="collapse navbar-collapse" collapse="isCollapsed">-->
<!--<ul class="nav navbar-nav">-->
<!--<li ng-show="auth.isAuthenticated()"><a href="#/messages">Messages</a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li ng-hide="auth.isAuthenticated()"><a href="#/login">Login</a></li>-->
<!--<li ng-hide="auth.isAuthenticated()"><a href="#/register">Register</a></li>-->
<!--<li ng-show="auth.isAuthenticated()"><p class="navbar-text">Hello, <strong>{{user().email}}</strong></p></li>-->
<!--<li ng-show="auth.isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<div >
    <div ng-include="'header.html'"></div>
    <div ui-view></div>
    <div ng-include="'footer.html'"></div>
</div>


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, filesin your `assets/linker/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit your Gruntfile.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>-->
<script src="/vendor/jquery-2.2.4.min.js"></script>
<script src="/vendor/all/bootstrap.min.js"></script>
<script src="/vendor/jquery.wow.min.js"></script>
<script src="/vendor/jquery.smooth-scroll.js"></script>
<script src="/vendor/thumbnail-slider.js"></script>
<script src="/vendor/slick/slick.js"></script>
<script src="/vendor/index.js"></script>
<script src="/vendor/leaflet.js"></script>
<script src="/vendor/leaflet.awesome-markers.js"></script>
<script src="/vendor/all/select2.min.js"></script>
<script src="/vendor/lightbox.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<!--SCRIPTS-->
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/angular-messages.min.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/ui-bootstrap-custom-2.3.1.min.js"></script>
<script src="/js/dependencies/ui-bootstrap-custom-tpls-2.3.1.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services/accessLevels.js"></script>
<script src="/js/controllers/AboutController.js"></script>
<script src="/js/controllers/auth/loginController.js"></script>
<script src="/js/controllers/auth/oldUserController.js"></script>
<script src="/js/controllers/auth/RecoverController.js"></script>
<script src="/js/controllers/auth/registerController.js"></script>
<script src="/js/controllers/auth/ResetPasswordController.js"></script>
<script src="/js/controllers/backendDevelopmentController.js"></script>
<script src="/js/controllers/blog/BlogCategoryController.js"></script>
<script src="/js/controllers/blog/BlogController.js"></script>
<script src="/js/controllers/blog/BlogDetailsController.js"></script>
<script src="/js/controllers/BodyController.js"></script>
<script src="/js/controllers/ContactController.js"></script>
<script src="/js/controllers/corporateBrandingController.js"></script>
<script src="/js/controllers/digitalMarketingController.js"></script>
<script src="/js/controllers/frontendDevelopmentController.js"></script>
<script src="/js/controllers/HomeController.js"></script>
<script src="/js/controllers/messagesController.js"></script>
<script src="/js/controllers/navController.js"></script>
<script src="/js/controllers/softwareSolutionController.js"></script>
<script src="/js/controllers/webSolutionController.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/services/auth.js"></script>
<script src="/js/services/currentUser.js"></script>
<script src="/js/services/localStorage.js"></script>
<script src="/js/services/messagesRepository.js"></script>
<!--SCRIPTS END-->
<!--<script src="/bower_components/angular-animate/angular-animate.min.js"></script>-->
<script src="/bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
<script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<!--
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/linker/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).

      To customize this behavior to fit your needs, just edit your Gruntfile.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.
  -->

<!--TEMPLATES-->
<script type="text/javascript" src="/templates.js"></script>
<!--TEMPLATES END-->





</body>
</html>
