*{
  margin: 0;
  padding: 0;
}
.wrapper{
  position: inherit;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 22px;
}
textarea{
  min-height: 250px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
.form-group img{
  width: 100%;
}
.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.mjh_adminlogin.form-signin{
  width: 350px;
  text-align: center;
  margin: 100px auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  min-height: 300px;
}
.mjh_adminlogin h2{
  text-align: center;
  text-transform: uppercase;
  color: #3c8dbc;
  margin: 10px 0px 0px 0px;
  font-size: 25px;
}
.mjh_adminlogin h3{
  text-align: center;
  text-transform: uppercase;
  color: #3c8dbc;
  margin: 15px 0px;
  font-size: 20px;
}
.mjh_adminlogin .control-group{
  margin: 30px 0px;
  position: relative;
}
.common-status{
  position: absolute;
  color: red;
  left: 0;
  top: 36px;
  text-transform: capitalize;
}
.mjh_adminlogin .btn.btn-lg.btn-primary.btn-block{
  border-radius: 0;
}
.design_develop{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.design_develop img{
  width: 100px;
}

/*===============popup===============*/
.mjh_imagewrapper{
  overflow: hidden;
}
.modal-body{
  overflow: hidden;
}
.mjh_imagefolders div{
  margin-bottom:1px ;
}
.mjh_imagefolders div span{
  background: #929292;
  text-align: left;
  padding: 5px 10px;
  display: block;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
.mjh_allImages div{
  float: left;
  border: 1px solid #929292;
}
.mjh_allImages{
  background: #ccc;
  overflow: hidden;
  padding: 10px;
}
.mjh_allImages div img{
  float: left;
  height: 80px;
  cursor: pointer;
}
.mjh_allImages div img:hover{

}
.mjh_imagefolders h4{
  text-align: center;
  text-transform: uppercase;
}

.mjh_imagefolders div span.activeFolder{
  background: #4a4949;
}
.inputUpdate{
  width: 80px !important;
}
.updateButton{
  background: #3c763d;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 3px;
}

.paginatnbutton{
  text-align: center;
}
.paginatnbutton a:hover{
  background: #d5be28;
  color: white;
}

.btnpagination{
  background: #75b336;
  color: white;
  margin-right: 5px;
}

.paginatnbuttonactive{
  background: #1d7505;
  color: #d5be28;
}

.mjh_imagefolders div{
  margin-bottom:1px ;
}
.mjh_imagefolders div span{
  background: #929292;
  text-align: left;
  padding: 5px 10px;
  display: block;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
.mjh_allImages{
  background: white;
  overflow: hidden;
}
.mjh_allImages div{
  float: left;
  margin: 5px;
  box-shadow: 2px 2px 3px 1px rgba(119, 119, 119, 0.35);
  background: white;
  position: relative;
}

.mjh_allImages div i{
  color: white;
  text-shadow: 1px 1px 6px black;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.mjh_allImages div i:hover{
  color:red;
}
.mjh_allImages div img{
  float: left;
  height: 80px;
  cursor: pointer;
  margin: 20px 5px 5px;
  border: none;
  background: white;
}
.mjh_allImages div img:hover{

}
.mjh_imagefolders h4{
  /* text-align: center; */
  /* text-transform: uppercase; */
  background: #3c8dbc;
  padding: 10px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.mjh_imagefolders div span.activeFolder{
  background: #4a4949;
}

