<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg corporatebrand" ng-init="backtotop()">
    <img ng-src="images/corporate branding/corporateBranding.jpg">
    <h1>Corporate Branding</h1>
</div>

<section class="corporateBrandingSection">
    <div class="container-fluid">
        <h2>Services</h2>
        <div class="row">
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb1.jpg" style="width: 100%"> </div>
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb2.jpg" style="width: 100%"> </div>
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb3.jpg" style="width: 100%"> </div>
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb4.jpg" style="width: 100%"> </div>
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb5.jpg" style="width: 100%"> </div>
            <div class="col-md-4 corporateBrandingImg"><img src="images/corporate branding/cb6.jpg" style="width: 100%"> </div>
        </div>
    </div>
</section>

<script>
    $('.bg>h1').addClass('animated flipInX');
</script>
