<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg digitalmark" ng-init="backtotop()">
    <img ng-src="images/digital marketing/digitalMarketing.jpg">
    <h1>Digital Marketing</h1>
</div>

<section class="DigitalMarketingSection">
    <div class="container-fluid">
        <h2>Services</h2>
        <div class="row">
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak1.jpg" style="width: 100%"> </div>
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak2.jpg" style="width: 100%"> </div>
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak3.jpg" style="width: 100%"> </div>
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak4.jpg" style="width: 100%"> </div>
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak5.jpg" style="width: 100%"> </div>
            <div class="col-md-4 DigitalMarketingImg"><img src="images/digital marketing/digimak6.jpg" style="width: 100%"> </div>
        </div>
    </div>
</section>

<script>
    $('.bg>h1').addClass('animated zoomIn');
</script>
