<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg softsol" ng-init="backtotop()">
    <img ng-src="images/software Solution/softwareSolution.jpg">
    <h1>Software Solution</h1>
</div>

<section class="softwareSolutionSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol1.png">
            </div>
            <div class="col-md-6 SoftSolutionText">
                <h3>HRM & Payroll Software</h3>
                <p>A Human Resource Management System is a form of HR software that combines a number of systems and processes to ensure the easy management of a business’s employees and data. These systems could deal with everything from payroll to performance evaluation, covering the whole business. We provide you with the support and services you need to keep your HR wheels turning effectively. Our full complement of training, consultancy and support services enable you to get the best from your CIPHR system.</p>
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection sectionColor">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftSolutionText">
                <h3>Hospital Management System</h3>
                <p>Our plan is to making a hospital management paperless. It integrates the entire resources of a hospital into one integrated software application Quick and easy patient registration, instantaneous profit and loss statement for your Hospital Management, log in any time anywhere, totally electronic medical records. It offers futuristic solutions for you.</p>
            </div>
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol2.png">
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol3.png">
            </div>
            <div class="col-md-6 SoftSolutionText">
                <h3>Accounting & Inventory</h3>
                <h4>Management System</h4>
                <p>Everexpert offers an Accounting & Inventory Management System for the total solution of a business, that covers all the almost all accounting and stock activities of a business situation. It supports multiple companies, multiple locations,multiple counters and multiple currencies as well.</p>
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection sectionColor">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftSolutionText">
                <h3>School Management System</h3>
                <p>Everexperts offers a School Management System for operating school efficiently to face challenges in proper organised communications to all stakeholders Students, Parents, Teachers, Staff, Donors and Management. Maintaining and tracking unified bcommunications With multiple channels of communications is extremely important to manage proper education system.</p>
            </div>
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol4.png">
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol5.png">
            </div>
            <div class="col-md-6 SoftSolutionText">
                <h3>Garments ERP System</h3>
                <p>Everexpert offers a garment ERP software which is simple to use, innovative design and stunning features that manages the entire fashion manufacturing process – from product development to production,shipping to invoicing.</p>
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection sectionColor">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftSolutionText">
                <h3>Point of Sale</h3>
                <p>We offer a point of sale system that makes it simple to sell to your customers, and keep them coming back to your store and is so easy to use you can get your staff selling in notime. It connects with the most popular point of sale equipment and hardware, and integrates with a variety of payment providers.</p>
            </div>
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol6.png">
            </div>
        </div>
    </div>
</section>

<section class="softwareSolutionSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 SoftwareSolutionImg">
                <img src="/images/software Solution/softsol7.png">
            </div>
            <div class="col-md-6 SoftSolutionText">
                <h3>Customer Relationship</h3>
                <h4>Management System</h4>
                <p>A CRM with specific focus on customer interaction management.It empowers small to large-sized organizations with a complete customer relationship lifecycle management solution for managing organization-wide Sales, Marketing, Customer Support & Service and Inventory Management in a single business system.</p>
            </div>
        </div>
    </div>
</section>


<script>
    $('.bg>h1').addClass('animated slideInDown');
</script>