<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg webSol" ng-init="backtotop()">
    <img ng-src="images/web solution/websolution.jpg">
    <h1>Web Solution</h1>
</div>

<section class="websolutionSection webInfo">
    <div class="container">
        <h3>Why chosen “Everexpert”</h3>
        <div class="websolutiontext">
            <p><span class="websolutionicon">  </span>We provide Eye-catching & Professional web applications as you intend to meet organization`s expectations or ultimate goal.</p>
            <p><span class="websolutionicon">  </span>  We generate unique web applications designed having control of changing site content without IT knowledge to keep website up-to-date.</p>
            <p><span class="websolutionicon">  </span>  Our firm makes web applications furnished with various features as your choice.</p>
            <p><span class="websolutionicon">  </span>  Everexpert is always in standing position for maintaining the live version.</p>
            <p><span class="websolutionicon">  </span>  We deliver Search Engine Optimization (SEO) support for increasing your target viewers</p>
            <p><span class="websolutionicon">  </span>  We make world class dynamic website featured with Content Management System.</p>
        </div>
    </div>
</section>

<section class="websolutionSection serviceInfo">
    <div class="container-fluid webSolutionService">
        <h2>Services</h2>
        <div class="row">
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service1web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service2web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service3web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service4web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service5web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service6web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service7web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service8web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service9web.jpg" style="width: 100%" alt="service"> </div>
            <div class="col-md-4 serviceImg"><img src="/images/web solution/service10web.jpg" style="width: 100%" alt="service"> </div>
        </div>
    </div>
</section>

<div class="container-fluid requestQuote">
    <h2>Request Free Quote</h2>
    <button>view details</button>
</div>

<section class="websolutionSection" style="text-align: center">
    <div class="container">
        <p>Everexpert Info System offers a wide range of Domain Registration Level and Hosting Space.</p>
        <h3>Domain Registration Price</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="text-align: center">Hosting Spaces</th>
                <th style="text-align: center">Price</th>
                <th style="text-align: center">Duration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td>100 mb</td>
                <td>1200 BDT</td>
                <td>1 Year</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="websolutionSection">
    <div class="container" style="text-align: center">
        <h3>Domain Hosting Price</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="text-align: center">TLD</th>
                <th style="text-align: center">Price</th>
                <th style="text-align: center">Transform</th>
                <th style="text-align: center">Renew</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>.com</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
            </tr>
            <tr>
                <td>.org</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
            </tr>
            <tr>
                <td>.net</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
            </tr>
            <tr>
                <td>.edu</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
                <td>1200 BDT</td>
            </tr>
            <tr>
                <td>.com.bd</td>
                <td>3000 BDT</td>
                <td>3000 BDT</td>
                <td>3000 BDT</td>
            </tr>
            <tr>
                <td>.net.bd</td>
                <td>3000 BDT</td>
                <td>3000 BDT</td>
                <td>3000 BDT</td>
            </tr>

            </tbody>
        </table>
    </div>
</section>

<script>
    $('.webSol>h1').addClass('animated lightSpeedIn');
</script>