<!-- Modal -->
<div class="logInModal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-keypress="onKeyPress($event)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form name="registerForm" class="form-signin" novalidate style="margin-top:20px">
                    <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{error}}
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
                        <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error">
                            <div ng-message="required">
                                You forgot the email address.
                            </div>
                            <div ng-message="email">
                                That is not a well formed email address.
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
                        <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error">
                            <div ng-message="required">
                                You forgot the password.
                            </div>
                        </div>
                    </div>

                    <p class="create-account" ng-click="goRegistration()">CREATE AN ACCOUNT</p>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" data-dismiss="{{dataDismiss}}" ng-click="loginMe()">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-end-->
<div id="bg" class="bg" ng-init="backtotop()">
    <img ng-src="images/home/bg.jpg">
    <h1>SHOPPING CART</h1>
</div>
<div class="container containerTopPadding containerBottomPadding">
    <div ng-if="shoppingCart.length" class="row">
        <!--widget-->
        <div class="col-sm-3">
            <ul class="widgetShoppingCart">
                <li><span ng-class="shopping_cart?'active':'inactive'"><strong class="widgetitemlist">1</strong>shopping cart</span></li>
                <li><span ng-class="billing_shipping?'active':'inactive'"><strong class="widgetitemlist">2</strong>billing & shipping</span></li>
                <li><span ng-class="delivery_information?'active':'inactive'"><strong class="widgetitemlist">3</strong>delivery day and time</span></li>
                <li><span ng-class="payment_conform?'active':'inactive'"><strong class="widgetitemlist">4</strong>payment & confirm</span></li>
            </ul>
        </div>
        <!--shopping-cart-->
        <div class="table-responsive col-sm-9 mjh_shoppingCartTable" ng-show="shopping_cart">
            <table class="table product">
                <thead>
                    <tr>
                        <th style="border: none;"><h2 class="shoppingcartTitle">{{changeCartTitle}}</h2></th>
                        <th style="border: none;">Price</th>
                        <th style="border: none;">Quantity</th>
                        <th style="border: none;"></th>
                        <th style="border: none;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in shoppingCart track by $index">
                        <td>
                            <img style="width: 30%" ng-src="{{x.image}}">
                            <span class="product-title">{{x.productName}} - {{x.measurement}}</span>
                        </td>
                        <td>
                            <span class="shoppingcartitemprice  {{x.discount?'line-through':''}}">৳ {{x.price}}</span>
                            <span class="shoppingcartitemprice after-disc" ng-if="x.discount" >
                                ৳ {{x.discountPrice=x.price*(100-x.discount)/100}}
                            </span>
                        </td>
                        <td>
                            <span ng-click='decrementFunc(x)' style="color: #000;" class="shoppingcartquantity"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                            <span>{{x.quantity}}</span>
                            <span ng-click='incrementFunc(x)' style="color: #000;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                        </td>
                        <td><span class="remove-product" ng-click="remove(x)"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                        <!--<td style="width: 10%"><button class="remove-product" ng-click="remove(x)">Remove</button></td>-->
                        <td><span class="shoppingcartpricelist">৳ {{x.discount ? x.discountPrice*x.quantity : x.price*x.quantity}}</span></td>
                    </tr>
                    <tr>
                        <td><span ng-if="emptyShoppingCart"style="float: left;color: red">Shopping Cart is Empty !</span></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>৳ {{totalprice}}</td>
                    </tr>
                    <tr>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;">After Discount</td>
                        <td style="border: none;">৳ {{totalDiscountPrice}}</td>
                    </tr>
                    <tr>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;">
                            <button class="checkout checkoutNext" ng-click="shoppingCartNext('shoppingCart')"
                                    data-toggle="{{dataToggle}}" data-target="{{dataTarget}}">next</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--billing-shipping-->
        <div class="col-sm-8" ng-show="billing_shipping">
            <div class="shopping-cart mjh_shoppingCart">
                <div >
                    <div class="row billingandshipping">
                        <div class="col-sm-6">
                            <div class="informationForm">
                                <header class="commoninfo">
                                    <h2 class="billingInformationtittle">Billing Information</h2>
                                </header>
                                <div class="content">
                                <form class="biling_address" >
                                    <span ng-if="billingNameRequired" style="color: red">Name Required*</span>
                                    <input type="text" name="name"  placeholder="Name" ng-model="billing.blling_name" ng-change="sameAddress && update()" required>
                                    <span ng-if="billingPhoneRequired" style="color: red">Phone No Required*</span>
                                    <input type="text" name="telephone" placeholder="Mobile Number" ng-model="billing.blling_phone" ng-change="sameAddress && update()" required>
                                    <span ng-if="billingAddressRequired" style="color: red">Adddress Required*</span>
                                    <input type="text" name="address" placeholder="Address" ng-model="billing.blling_address" ng-change="sameAddress && update()" required>
                                    <input type="text" name="zip"  placeholder="Zip Code" ng-model="billing.blling_zipCode" ng-change="sameAddress && update()" data-type="text"/>
                                    <span ng-if="billingCityRequired" style="color: red">City Required*</span>
                                    <div class="state_options" >
                                        <div class="select">
                                            <select ng-model="billing.blling_city" ng-change="sameAddress && update()">
                                                <!--<option value disabled selected>Select a City</option>-->
                                                <option ng-repeat="x in allDistrict">{{x.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="informationForm">
                                <header class="commoninfoShipping">
                                    <h2 class="shippingInformationtittle">Shipping Information</h2>
                                </header>
                                <div class="content">
                                    <div>
                                    <input type="checkbox" ng-model="sameAddress" ng-change="sameAddress && update()" /><span class="shipping_addresscheck">Same as Billing Address</span></div>
                                    <form class="shipping_address">
                                        <span ng-if="shippingNameRequired" style="color: red">Name Required*</span>
                                        <input type="text" name="name" placeholder="Name"  ng-model="shipping.shiping_name" ng-disabled="sameAddress"/>
                                        <span ng-if="shippingPhoneRequired" style="color: red">Phone No Required*</span>
                                        <input type="text" name="telephone" placeholder="Mobile Number" ng-model="shipping.shiping_phone" ng-disabled="sameAddress"/>
                                        <span ng-if="shippingAddressRequired" style="color: red">Adddress Required*</span>
                                        <input type="text" name="address"  placeholder="Address" ng-model="shipping.shiping_address" ng-disabled="sameAddress"/>
                                        <input type="text" name="zip" placeholder="Zip Code" ng-model="shipping.shiping_zipCode" ng-disabled="sameAddress"/>
                                        <span ng-if="shippingCityRequired" style="color: red">City Required*</span>
                                        <div class="state_options" >
                                            <div class="select" >
                                                <select ng-model="shipping.shiping_city" ng-disabled="sameAddress && deliveryCost()">
                                                    <!--<option value disabled selected>Select a City</option>-->
                                                    <option ng-repeat="x in allDistrict">{{x.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="checkout checkoutNext" ng-click="billingShippingNext()">Next</button>
                    <button class="checkout checkoutPrevious" ng-click="billingShippingPrevious()">Previous</button>
                </div>
            </div>
        </div>
        <!--Delivery-Information-->
        <div class="col-sm-9" ng-show="delivery_information">
            <header class="deliveryInformationTitle">
                <h2>Delivery Information</h2>
            </header>
            <div class="regular_irregular_Order">
                <div class="row regular_irregular_Orderselect">
                    <div class="col-sm-5">
                        <div class="selectday">
                            <h3 ng-click="checkIrregularItem()" ng-class="irregularItem?'active':'inactive'">One time</h3>
                            <!--<div class="mjh_tooltip" ng-class="irregularItem?'active':'inactive'">-->
                                <!--<span>Payment will be charged one time with one time delivery.-->
                                    <!--No further automatic invoice will be created automatically.-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="iregularSubscription">
                            <label class="switch">
                                <input type="{{irregularcheck}}" ng-checked="onchangeCheckIrregular">
                                <div class="tslider" ng-click="checkIrregularItem()"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="selectday">
                            <h3 ng-click="checkIrregularItem()" class="mjh_active" ng-class="regularItem?'active':'inactive'">Subscription</h3>
                            <div class="mjh_tooltip" ng-class="regularItem?'active':'inactive'">
                                <span>Want to have the same order on multiple days in a month ?</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--one-time-subscription-->
                <div ng-show="irregularItem" class="mjh_SpecialStyle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mjh_showing">
                                <h5 class="mjh_deliveryStyle">Delivery Day</h5>
                                <button ng-click="sevendayFunction()">{{addDay.deliveryDayStr}}</button>
                                <ul ng-show="showSeletiveBox">
                                    <li ng-click="singleDayCount(x)" ng-repeat="x in sevenDays">{{x.deliveryDayStr}}</li>
                                </ul>
                            </div>
                            <div class="mjh_showing">
                                <h5 class="mjh_deliveryStyle">Delivery Time</h5>
                                <button ng-click="sevendayTimeFunction()">{{addTime}}</button>
                                <ul ng-show="showSeletiveBoxHours">
                                    <li ng-click="TimeCount(x)" ng-repeat="x in allHours">{{x}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--regular-subscription-->
                <div ng-show="regularItem">
                    <div class="mjh_week">
                        <h3 ng-click="weekshow()">Weekly</h3>
                    </div>
                    <div class="mjh_month">
                        <!--<h3 ng-click="monthshow()">Monthly</h3>-->
                    </div>
                    <div class="row" ng-if="weekrow">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="mjh_deliveryStyle">Delivery Days : <span ng-if="selectDay" style="color: red;text-align: center"> Select at least one day*</span></h5>
                                    <div class="mjh_commonRepeat">
                                        <span class="sevendaysListShow" ng-class="x.addClassActive" ng-click="thisweek(x,$index)" ng-repeat="x in weekday">{{x.day}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="mjh_deliveryStyle">Delivery Times : <span ng-if="selectTime" style="color: red;text-align: center"> Select at least one time*</span></h5>
                                    <div class="mjh_commonRepeat">
                                        <span class="sevendaysListShow" ng-class="x.addClassActive" ng-click="TimeCount(x)" ng-repeat="x in sevenDaysListHours">{{x.time}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="mjh_deliveryStyle">How many weeks :
                                        <span ng-if="selectWeek" style="color: red;text-align: center"> Select at least one week*</span>
                                    </h5>
                                    <div class="mjh_selectWeek">
                                        <select class="selectWeek" ng-change="totalWeeks(weekcount)" ng-model="weekcount" ng-options="value for value in weeksCountOptions">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="orderSummery">
                                <h3>your order delivery date(s)</h3>
                                <!--{{DaysList}}-->
                                <div class="mjh_commonstyle">
                                    <h5>repeats days: {{selectedDeliveryDate.length}}</h5>
                                    <ul>
                                        <li class="mjh_repeatday" ng-repeat="x in selectedDeliveryDate"><strong>{{$index+1}}</strong> <span>{{ x | date : "dd-MMMM, yyyy :: (EEEE)" }}</span></li>
                                    </ul>
                                    <!--<div class="mjh_repeatday" ng-if="x.addClassActive" ng-repeat="x in DaysList">{{x.day}}</div>-->
                                    <!--{{selectedDeliveryDate}}-->
                                </div>
                                <div class="mjh_commonstyle">
                                    <h5>repeats times:</h5>
                                    <div class="mjh_repeatday" ng-if="TimeSelect.time"><span>{{TimeSelect.time}}</span></div>
                                </div>
                                <div>
                                    <h5>repeats weeks:</h5>
                                    <div>{{weekcount}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="monthrow">
                        <div class="col-md-12">
                            <div class="monthly_calender">
                                <!--<span>sun</span><span>mon</span><span>tue</span><span>wed</span><span>thu</span><span>fri</span><span>sat</span>-->
                                <span ng-repeat="x in monthlycalender" ng-click="selectCalanter(x)" class="calangerDate" ng-class="x.addClassActive">
                                    {{x.monthdate | date: "dd"}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="checkout checkoutNext" ng-click="deliveryInformationNext()">Next</button>
            <button class="checkout checkoutPrevious" ng-click="deliveryInformationPrevious()">Previous</button>
        </div>
        <!--payment-& -conform-->
        <div class="col-sm-8" ng-show="payment_conform">
            <!--shopping-cart-table-->
            <div class="table-responsive mjh_shoppingCartTable">
                <table class="table product">
                    <thead>
                    <tr>
                        <th style="border: none;">Products </th>
                        <th style="border: none;">Price</th>
                        <th style="border: none;">Quantity</th>
                        <th style="border: none;">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in shoppingCart track by $index">
                        <td>
                            <img style="width: 30%" ng-src="{{x.image}}">
                            <span class="product-title">{{x.productName}} - {{x.measurement}}</span>
                        </td>
                        <td>
                            <span class="shoppingcartitemprice  {{x.discount?'line-through':''}}">৳ {{x.price}}</span>
                            <span class="shoppingcartitemprice after-disc" ng-if="x.discount" >
                                ৳ {{x.discountPrice=x.price*(100-x.discount)/100}}
                            </span>
                        </td>
                        <td><span class="shoppingcartquantity">{{x.quantity}}</span></td>
                        <td><span class="shoppingcartpricelist">৳ {{x.discount ? x.discountPrice*x.quantity : x.price*x.quantity}}</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Subtotal</td>
                        <td>৳ {{totalprice}}</td>
                    </tr>
                    <tr>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;">After Discount</td>
                        <td style="border: none;">৳ {{totalDiscountPrice}}</td>
                    </tr>
                    <tr>
                        <td style="border: none;"></td>
                        <td style="border: none;"></td>
                        <td style="border: none;">Delivary Charge</td>
                        <td style="border: none;">৳ {{deliverycharge}}</td>
                    </tr>
                    <tr>
                        <td style="border-top:none;border-bottom: 1px solid #ddd;"></td>
                        <td colspan="2" style="border-top:none;border-bottom: 1px solid #ddd;"><div ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'">(Total) x (Repeated days)</div></td>
                        <td style="border-top:none;border-bottom: 1px solid #ddd;"><div ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'">৳ {{grandtotal+deliverycharge}}*{{selectedDeliveryDate.length}}</div></td>
                    </tr>
                    <tr>
                        <td style="border-top:none;"></td>
                        <td style="border-top:none;"></td>
                        <td style="border-top:none;">Grand Total</td>
                        <td style="border-top:none;" ng-class="deliveryInfo.deliveryType=='One Time'?'show':'hide'">৳ {{grandtotal+deliverycharge}}</td>
                        <td style="border-top:none;" ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'">৳ {{grandtotal*selectedDeliveryDate.length+deliverycharge*selectedDeliveryDate.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--shopping-cart-table-end-->
            <div class="row">

                <!--<div class="col-sm-12">-->
                    <!--<div class="column-labels" >-->
                        <!--<label class="product-image">Image</label>-->
                        <!--<label class="product-details">Product</label>-->
                        <!--<label class="product-price">Price</label>-->
                        <!--<label class="product-quantity">Quantity</label>-->
                        <!--<label class="product-line-price">Total</label>-->
                    <!--</div>-->
                    <!--<div class="product sumr" ng-repeat="x in shoppingCart track by $index">-->
                        <!--<div class="product-image ">-->
                            <!--<img ng-src="{{x.image}}">-->
                        <!--</div>-->
                        <!--<div class="product-details">-->
                            <!--<div class="product-title">{{x.productName}} - {{x.measurement}}</div>-->
                        <!--</div>-->
                        <!--<div class="product-price">-->
                            <!--&lt;!&ndash;{{x.price}}&ndash;&gt;-->
                            <!--<span class="{{x.discount?'line-through':''}}">{{x.price}}</span>-->
                            <!--<span class="after-disc" ng-if="x.discount" >{{x.discountPrice=x.price*(100-x.discount)/100}}</span>-->
                        <!--</div>-->
                        <!--<div class="product-quantity">-->
                            <!--{{x.quantity}}-->
                        <!--</div>-->
                        <!--<div class="product-line-price">{{x.discount ? x.discountPrice*x.quantity : x.price*x.quantity}}</div>-->
                    <!--</div>-->
                    <!--<div class="totals" style="padding-right: 30px;">-->
                        <!--<div class="totals-item">-->
                            <!--<label>Subtotal</label>-->
                            <!--<div class="totals-value">{{totalprice}}</div>-->
                        <!--</div>-->
                        <!--<div class="totals-item">-->
                            <!--<label>After Discount</label>-->
                            <!--<div class="totals-value">{{totalDiscountPrice}}</div>-->
                        <!--</div>-->
                        <!--<div class="totals-item">-->
                            <!--<label>Delivary Charge</label>-->
                            <!--<div class="totals-value">{{deliverycharge}}</div>-->
                        <!--</div>-->
                        <!--<div class="totals-item totals-item-total">-->
                            <!--<label>Grand Total</label>-->
                            <!--<div class="totals-value">{{grandtotal+deliverycharge}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="col-md-12 summary-cart">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h3>Billing Information</h3>
                                <p><span>Name :</span> {{billing.blling_name}}</p>
                                <p><span>Phone Number :</span> {{billing.blling_phone}}</p>
                                <p><span>Address :</span> {{billing.blling_address}}</p>
                                <p><span>Zip Code :</span> {{billing.blling_zipCode}}</p>
                                <p><span>City :</span> {{billing.blling_city}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3>Shipping Information</h3>
                                <p><span>Name :</span> {{shipping.shiping_name}}</p>
                                <p><span>Phone Number :</span> {{shipping.shiping_phone}}</p>
                                <p><span>Address :</span> {{shipping.shiping_address}}</p>
                                <p><span>Zip Code :</span> {{shipping.shiping_zipCode}}</p>
                                <p><span>City :</span> {{shipping.shiping_city}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!--<div style="color: red">vv{{orderSummary.grandtotal}}vv</div>-->
                        <h3>Delivery Information :<strong style="display: inline-block; color: #d5be28; font-weight: 400;"> {{deliveryInfo.deliveryType}}</strong></h3>
                        <p ng-class="deliveryInfo.deliveryType=='One Time'?'show':'hide'"><span>Delivery Time:</span> {{addTime}}</p>
                        <p ng-class="deliveryInfo.deliveryType=='One Time'?'show':'hide'"><span>Delivery Date:</span> {{addDay.deliveryDayStr}}</p>
                        <p ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'"><span>Delivery Times:</span> {{addSelectedTime}}</p>
                        <p ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'"><span>Delivery Dates:</span>
                        <ul ng-class="deliveryInfo.deliveryType=='Subscription'?'show':'hide'">
                            <li class="mjh_repeatday" ng-repeat="x in selectedDeliveryDate"><strong>{{$index+1}}</strong> <span class="dlvrDay">{{ x | date : "dd-MMMM, yyyy :: (EEEE)" }}</span></li>
                        </ul>
                        </p>
                    </div>
                    <!--cash-->
                    <div class="mjh_cash">
                        <h3 style="display: inline-block">Payment Information: {{orderSummary.paymentype}}</h3>
                        <div class="row" ng-if="!hidePaymentTypeSwitcher">
                            <div class="col-sm-5">
                                <div class="selectday mjh_selectday">
                                    <h3 ng-click="checkBoxCashDelivery()" ng-class="deliverBycash?'active':'inactive'">cash on delivery</h3>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="iregularSubscription">
                                    <label class="switch">
                                        <input type="{{checkBox}}" ng-checked="onchangeCash">
                                        <div class="tslider" ng-click="checkBoxCashDelivery()"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="selectday mjh_selectday">
                                    <h3 ng-click="checkBoxCashDelivery()" class="mjh_active" ng-class="deliverBycard?'active':'inactive'">
                                        <img style="height: 30px; border: 1px solid" src="/images/home/bkash.jpg">
                                        <img style="height: 30px; border: 1px solid" src="/images/home/dbbl.jpg">
                                        <img style="height: 30px; border: 1px solid" src="/images/home/cod.jpg">
                                        <img style="height: 30px; border: 1px solid" src="/images/home/visa.jpg">
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button ng-if="!payNow && buttonNotPressed" class="checkout checkoutNext" ng-click="createOrderAndMail()">Confirm</button>
                <button ng-if="!buttonNotPressed" class="checkout checkoutNext"><i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </button>
                <button ng-if="!hidePrevious" class="checkout checkoutPrevious" ng-click="paymentConformPrevious()">Previous</button>
                <!--Card-Payment-->
                <div class="mjh_cardPayment">
                    <form id="payment_gw" name="payment_gw" method="POST" action="" >
                        <div style="display: none">
                            total_amount<input type="text" name="total_amount" value="{{orderSummary.grandtotal}}" /><br/>
                            store_id<input type="text" name="store_id" value="{{settings.paymentMode=='live'?settings.live_store_id:settings.test_store_id}}" /><br/>
                            tran_id<input type="text" name="tran_id" value="{{orderId}}" /><br/>
                            <!--success_url<input type="text" name="success_url" value="https://sandbox.sslcommerz.com/developer/success.php" /><br/>-->
                            success_url<input type="text" name="success_url" value="{{settings.paymentMode=='live'?settings.live_success_url:settings.test_success_url}}" /><br/>
                            <!--fail_url<input type="text" name="fail_url" value="https://sandbox.sslcommerz.com/developer/fail.php" /><br/>-->
                            fail_url<input type="text" name="fail_url" value="{{settings.paymentMode=='live'?settings.live_fail_url:settings.test_fail_url}}" /><br/>
                            <!--cancel_url<input type="text" name="cancel_url" value="https://sandbox.sslcommerz.com/developer/cancel.php" /><br/>-->
                            cancel_url<input type="text" name="cancel_url" value="{{settings.paymentMode=='live'?settings.live_cancel_url:settings.test_cancel_url}}" /><br/>
                            version<input type="text" name="version" value="{{settings.paymentMode=='live'?settings.live_version:settings.test_version}}" /><br/>

                            <!-- Customer Information !-->
                            cus_name<input type="text" name="cus_name" value="{{billing.blling_name}}"><br/>
                            cus_email<input type="text" name="cus_email" value="{{currentUser.email}}">	<br/>
                            cus_add1<input type="text" name="cus_add1" value="{{billing.blling_address}}"><br/>
                            <!--cus_add2<input type="text" name="cus_add2" value="Address Line Two"><br/>-->
                            cus_city<input type="text" name="cus_city" value="{{billing.blling_city}}"><br/>
                            <!--cus_state<input type="text" name="cus_state" value="State Name"><br/>-->
                            cus_postcode<input type="text" name="cus_postcode" value="{{billing.blling_zipCode}}"><br/>
                            <!--cus_country<input type="text" name="cus_country" value="Country"><br/>-->
                            cus_phone<input type="text" name="cus_phone" value="{{billing.blling_phone}}"><br/>
                            <!--cus_fax<input type="text" name="cus_fax" value="01711111111"><br/>-->

                            <!-- Shipping Information !-->
                            ship_name<input type="text" name="ship_name" value="{{shipping.shiping_name}}"><br/>
                            <!--ship_name<input type="text" name="ship_name" value="Address Line One">	<br/>-->
                            ship_add2<input type="text" name="ship_add2" value="{{shipping.shiping_address}}"><br/>
                            ship_city<input type="text" name="ship_city" value="{{shipping.shiping_city}}"><br/>
                            <!--ship_state<input type="text" name="ship_state" value="State Name"><br/>-->
                            ship_postcode<input type="text" name="ship_postcode" value="{{shipping.shiping_zipCode}}"><br/>
                            <!--ship_country<input type="text" name="ship_country" value="Country"><br/>-->

                            <!-- Optional Parameters which will be stored and returned at the end !-->
                            value_a<input type="text" name="value_a" value="ref001"><br/>
                            value_b<input type="text" name="value_b" value="ref002"><br/>
                            value_c<input type="text" name="value_c" value="ref003"><br/>
                            value_d<input type="text" name="value_d" value="ref004"><br/>

                            <!-- PRODUCT 1 !-->
                            cart[0][product]<input type="text" name="cart[0][product]" value="FRESH HOME MADE BREAD 350GM" /><br/>
                            cart[0][amount]<input type="text" name="cart[0][amount]" value="500.00" /><br/>

                            <!-- PRODUCT 2 !-->
                            cart[1][product]<input type="text" name="cart[1][product]" value="FRESH HOME MADE BREAD 350GM Quantity(1)" /><br/>
                            cart[1][amount]<input type="text" name="cart[1][amount]" value="600.00"><br/>

                            <!-- PRODUCT 3 !-->
                            cart[2][product]<input type="text" name="cart[2][product]" value="SHIPMENT CHARGE" /><br/>
                            cart[2][amount]<input type="text" name="cart[2][amount]" value="50.00" /><br/>
                        </div>
                        <!-- SUBMIT REQUEST  !-->
                        <input class="checkout checkoutPrevious" style="float: right;width: 100px;" ng-if="payNow" type="submit" name="submit" value="Pay Now" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!shoppingCart.length">
        <p style="text-align:center;font-size:16px;">Empty Shopping Cart, Please add some products.</p>
    </div>
</div>

<!--khaasfood-tracking-code-->

<!-- Google Code for Khaas Food Jan 2017 Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->


