<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg aboutustitle" ng-init="backtotop()">
    <img ng-src="images/home/about-us-banner.jpg">
    <h1>ABOUT US</h1>
</div>
<!-- Container (About Section) -->
<div class="container AboutUs">
    <div class="row">
        <div class="col-md-6 aboutImage">
            <h3>Who We Are</h3>
            <p style="text-align: justify">We are a service provider in the pasture of Information Technology. We respond to our client’s needs with innovative technology solutions. We strive for presenting simple and innovative solutions to a complex set of problems. Our philosophy based on quality output makes us preferable position to our clients. EverExpert contains highly experienced and dedicated IT specialist who are always in standing position to serve the clients.</p>
        </div>
        <div class="col-md-6">
            <img src="/images/home/aboutuswe.png" style="width: 100%">
        </div>
    </div>
</div>

<section class="AboutUsSection technologySection">
    <div class="container ourTechnology">
        <h2>Technologies We Use</h2>
        <div class="aboutusTab">
            <button ui-sref="anon.about.all" class="btntab" ui-sref-active="active">All</button>
            <button ui-sref="anon.about.frontend_development" class="btntab" ui-sref-active="active">UI/UX</button>
            <button ui-sref="anon.about.backend_development" ui-sref-active="active" class="btntab">Web Application</button>
            <button ui-sref="anon.about.mobile_application" ui-sref-active="active" class="btntab">Mobile Application</button>
            <button ui-sref="anon.about.database" ui-sref-active="active" class="btntab">Database</button>
            <button ui-sref="anon.about.server" ui-sref-active="active" class="btntab">Server</button>
            <button ui-sref="anon.about.analytics" ui-sref-active="active" class="btntab">Analytics</button>
            <button ui-sref="anon.about.scm" ui-sref-active="active" class="btntab">SCM</button>
        </div>
        <ui-view></ui-view>
    </div>
</section>

<section class="AboutUsSection">
    <header class="AboutUsClient">
        <h2>Our Clients</h2>
    </header>
    <div  class="regular slider" style="padding-right: 100px; padding-left: 100px">
        <div ng-repeat="x in clients" ng-hide="verticleFeaturedItem" popular-product-directive>
            <div class="col-item">
                <div class="photo">
                    <a> <img ng-src="{{x.image}}"> </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="AboutUsSection technologySection">
    <div class="container ourTechnology">
        <h2>Our Team</h2>

    </div>
</section>

<input type="button"  class="goToTop" ng-click="goTop()" style="display:none; "  />


<script>
    $('.bg>h1').addClass('animated lightSpeedIn');
</script>
