<!--<div class="upperbackground"></div>-->
<div id="bg" class="bg contactInfo" ng-init="backtotop()">
    <img ng-src="/images/home/contactimage.jpg">
    <h1>Contact</h1>
</div>
<!--contact-->
<div class="contactaddress"><!--address-->
    <div class="container">
        <div class="address-row">
            <div class="col-md-4">
                <div class="contactaddress-info address-mdl">
                    <h4>Our Location</h4>
                    <div style="float: left; display: inline-block;  padding-right: 10px; "><img ng-src="images/home/maps2.png"></div>
                    <div style="float: left; display: inline-block;">
                        <p>26/28/29, Sher Shah-Shwari Road</p>
                        <p>Mohammadpur, Dhaka-1207</p>
                    </div>
                </div>
                <div class="contactaddress-info address-mdl">
                    <h4>Call Us </h4>
                    <div style="float: left; display: inline-block; padding-right: 10px;"><img ng-src="images/home/mobile.png"></div>
                    <div style="float: left; display: inline-block;">
                        <p>+88 01735 573 578</p>
                        <p>+88 01735 573 578</p>
                    </div>

                </div>
                <div class="contactaddress-info address-mdl">
                    <h4>Email Us</h4>
                    <div style="float: left; display: inline-block;   padding-right: 10px;"><img ng-src="images/home/mail.png"></div>
                    <div style="float: left; display: inline-block;">
                        <p>info@everexpert.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 contactaddress-right">
                <div class="contact_address">
                    <h4 style="text-align: center">Write Message</h4>
                    <p>Please get in touch if you have any question</p>
                </div>
                <form class="contactaddress-form">
                    <input  data-wow-delay=".6s" type="text" placeholder="Name"  ng-model="mailer.name" required="">
                    <input  data-wow-delay=".7s" type="number" placeholder="Phone" required="" ng-model="mailer.phone">
                    <input data-wow-delay=".8s" type="email" placeholder="Email" required=""  ng-model="mailer.email">
                    <textarea data-wow-delay=".8s" placeholder="Message" required="" ng-model="mailer.contactmessage"></textarea>
                    <input data-wow-delay=".9s" type="submit" value="SEND" ng-click="sendMail(mailer)">
                </form>
            </div>
        </div>
    </div>
</div>
<!--//contact-->
<!--subscribe-->
<div class="getintouch">
    <h3>Get In Touch</h3>
    <div class="col-md-6 col-md-offset-3">
        <div class="subscribe">
            <div class="input-group" ng-if="!returnMessage">
                <input class="subscribebutton" name="email" id="email" type="email" placeholder="Your Email" required ng-model="email">
                <button class="btn sub_but" type="submit" ng-click="subscribeMe(email)">Subscribe</button>
            </div>
            <div ng-if="returnMessage">
                <span class="subscribemessage">{{returnMessage}}</span>
            </div>
        </div>
    </div>
</div>
<!--end of subscribe-->
    <div class="map-container">
            <div id='map' ></div>
        </div>

<input type="button"  class="goToTop" ng-click="goTop()" style="display:none; "  />

<script>
    $('.contactInfo>h1').addClass('animated bounceInRight');
</script>