<!-- Footer -->
<footer id="kh-footer">
    <!--big footer-->
    <div class="container-fluid big_footer_color">
        <div class="row">
            <div class="col-md-3 big_footer">
                <img ng-src="images/home/with-info-system1.png" class="footer-logo">
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!--footer-->
    <div class="container-fluid footer">
        <span class="footer-left">Everexpert Info System © 2017</span>
        <span class="footer-right"><a href="http://fb.com/everexpert" target="_blank" class="footer-Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="http://twitter.com/everexpert" target="_blank" class="footer-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
    </div>
</footer>