<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="stickyLogo"><img ng-src="images/home/ee-logo-vertical-white.png"></a>
            <a href="/" class="stickyLogoscroll"><img ng-src="images/home/ee-logo-vertical.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right menu-item ">
                <li ui-sref-active="active" class="MenuItemList"><a ui-sref="anon.home" data-href="/">Home</a></li>
                <li ui-sref-active="active" class="MenuItemList"><a ui-sref="anon.about.all" data-href="/about">About Us</a></li>
                <li class="dropdown" ui-sref-active="active" style="margin-left: 5px"><a href="" data-toggle="dropdown" class="dropdown-toggle">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu topdropdowntoggle">
                        <li class="topdropdowntoggleitem"><a ui-sref="anon.websolution">Web Solution</a></li>
                        <li class="topdropdowntoggleitem"><a ui-sref="anon.softwaresolution">Software Solution</a></li>
                        <li class="topdropdowntoggleitem"><a ui-sref="anon.digitalmarketing">Digital Marketing</a></li>
                        <li class="topdropdowntogglebottom"><a ui-sref="anon.corporatebranding">Corporate Branding</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="MenuItemList"><a ui-sref="anon.blog.category({categoryId:'all'})" data-href="/about">Portfolio</a></li>
                <!--<li ui-sref-active="active" class="MenuItemList"><a ui-sref="anon.blog.category({categoryId:'all'})" data-href="/blog/category//all">Case Studies</a></li>-->
                <!--<li class="dropdown topbar-toggle">-->
                    <!--<a href="" data-toggle="dropdown" class="dropdown-toggle" style="padding: 0px">Services</a>-->
                    <!---->
                <!--</li>-->
                <li ui-sref-active="active" class="menu-item-right"><a ui-sref="anon.contact" data-href="/blog/category//all">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<script>
    (function($) {
        "use strict"; // Start of use strict

        // jQuery for page scrolling feature - requires jQuery Easing plugin
        $('.page-scroll a').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: ($($anchor.attr('href')).offset().top - 50)
            }, 1250, 'easeInOutExpo');
            event.preventDefault();
        });

        // Highlight the top nav as scrolling occurs
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 51
        });

        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function(){
            $('.navbar-toggle:visible').click();
        });

        // Offset for Main Navigation
        $('#mainNav').affix({
            offset: {
                top: 100
            }
        })

        // Floating label headings for the contact form
        $(function() {
            $("body").on("input propertychange", ".floating-label-form-group", function(e) {
                $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
            }).on("focus", ".floating-label-form-group", function() {
                $(this).addClass("floating-label-form-group-with-focus");
            }).on("blur", ".floating-label-form-group", function() {
                $(this).removeClass("floating-label-form-group-with-focus");
            });
        });

    })(jQuery); // End of use strict

</script>