<!--slider-->
<section style="position: relative" id="slider-carousel" class="">
  <div class="row fullwidth mainslider">
    <div class="columns small-12 slider1">
      <div class="text-center slide1">
        <img src="/images/home/slider-technology2.jpg" style="height: auto; width: 100%;" class="img-responsive">
      </div>
      <div class="text-center slide1">
          <img src="/images/home/slider2.jpg" style="height: auto; width: 100%" class="img-responsive">
      </div>
      <!--<div class="text-center slide1">-->
        <!--<img src="/images/home/digital-marketing.jpg" style="height: auto; width: 100%" class="img-responsive">-->
      <!--</div>-->

    </div>
  </div>
  <!--<span class="overlay-slider"></span>-->
</section>
<section class="Promise">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/home/webSolution.svg" style="width: 100%">
      </div>
      <div class="col-md-6 homeTitle">
        <h3 ui-sref="anon.websolution">Web Solution</h3>
        <p>We provide eye-catching & professional web applications as you intend to meet organization's expectations or ultimate goal and you can keep your site without having IT knowledge.</p>
        <button ui-sref="anon.websolution">Know more</button>
      </div>
    </div>
  </div>
</section>

<section class="Promise sectionColor">
  <div class="container">
    <div class="row">
      <div class="col-md-6 homeTitle">
        <h3 ui-sref="anon.softwaresolution">Software Solution</h3>
        <p>Today's business success is based on marketing inclined to digital marketing , and for this we focuss on consolidated view of customer preferance and expectations across all the chanel</p>
        <button ui-sref="anon.softwaresolution">Know more</button>
      </div>
      <div class="col-md-6">
        <img src="/images/home/SoftwareSolution.svg" style="width: 100%">
      </div>
    </div>
  </div>
</section>

<section class="Promise">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/home/digitalMarketing.svg" style="width: 100%">
      </div>
      <div class="col-md-6 homeTitle">
        <h3 ui-sref="anon.digitalmarketing">Digital Marketing</h3>
        <p>Today product is named as brand name. Therfore, corporate identity or brand can result in significent economies of scope, and in promoting your brand or identity, we are always with you.</p>
        <button ui-sref="anon.digitalmarketing">Know more</button>
      </div>
    </div>
  </div>
</section>

<!-- end thumb-->
<section class="Promise sectionColor">
  <div class="container">
    <div class="row">
      <div class="col-md-6 homeTitle">
        <h3 ui-sref="anon.corporatebranding">Corporate Branding</h3>
        <p>Our first and foremost concern in developing software is to meet  the requirements of the customer or end user using the latest tools and technology integrating time and cost.</p>
        <button ui-sref="anon.corporatebranding">Know more</button>
      </div>
      <div class="col-md-6">
        <img src="/images/home/corporateBranding.svg" style="width: 100%">
      </div>
    </div>
  </div>
</section>

<input type="button"  class="goToTop" ng-click="goTop()" style="display:none; "  />

<script>
  function showLoading() {
    // remove existing loaders
    $('.loading-container').remove();
    $('<div id="orrsLoader" class="loading-container"><div><div class="mdl-spinner mdl-js-spinner is-active"></div></div></div>').appendTo("body");

    componentHandler.upgradeElements($('.mdl-spinner').get());
    setTimeout(function () {
      $('#orrsLoader').css({opacity: 1});
    }, 1);
  }

  function hideLoading() {
    $('#orrsLoader').css({opacity: 0});
    setTimeout(function () {
      $('#orrsLoader').remove();
    }, 400);
  }

  function showDialog(options) {
    options = $.extend({
      id: 'orrsDiag',
      title: null,
      text: null,
      neutral: false,
      negative: false,
      positive: false,
      cancelable: true,
      contentStyle: null,
      onLoaded: false,
      hideOther: true
    }, options);

    if (options.hideOther) {
      // remove existing dialogs
      $('.dialog-container').remove();
      $(document).unbind("keyup.dialog");
    }

    $('<div id="' + options.id + '" class="dialog-container"><div class="mdl-card mdl-shadow--16dp" id="' + options.id + '_content"></div></div>').appendTo("body");
    var dialog = $('#' + options.id);
    var content = dialog.find('.mdl-card');
    if (options.contentStyle != null) content.css(options.contentStyle);
    if (options.title != null) {
      $('<h5>' + options.title + '</h5>').appendTo(content);
    }
    if (options.text != null) {
      $('<p>' + options.text + '</p>').appendTo(content);
    }
    if (options.neutral || options.negative || options.positive) {
      var buttonBar = $('<div class="mdl-card__actions dialog-button-bar"></div>');
      if (options.neutral) {
        options.neutral = $.extend({
          id: 'neutral',
          title: 'Neutral',
          onClick: null
        }, options.neutral);
        var neuButton = $('<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="' + options.neutral.id + '">' + options.neutral.title + '</button>');
        neuButton.click(function (e) {
          e.preventDefault();
          if (options.neutral.onClick == null || !options.neutral.onClick(e))
            hideDialog(dialog)
        });
        neuButton.appendTo(buttonBar);
      }
      if (options.negative) {
        options.negative = $.extend({
          id: 'negative',
          title: 'Cancel',
          onClick: null
        }, options.negative);
        var negButton = $('<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="' + options.negative.id + '">' + options.negative.title + '</button>');
        negButton.click(function (e) {
          e.preventDefault();
          if (options.negative.onClick == null || !options.negative.onClick(e))
            hideDialog(dialog)
        });
        negButton.appendTo(buttonBar);
      }
      if (options.positive) {
        options.positive = $.extend({
          id: 'positive',
          title: 'OK',
          onClick: null
        }, options.positive);
        var posButton = $('<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="' + options.positive.id + '">' + options.positive.title + '</button>');
        posButton.click(function (e) {
          e.preventDefault();
          if (options.positive.onClick == null || !options.positive.onClick(e))
            hideDialog(dialog)
        });
        posButton.appendTo(buttonBar);
      }
      buttonBar.appendTo(content);
    }
    componentHandler.upgradeDom();
    if (options.cancelable) {
      dialog.click(function () {
        hideDialog(dialog);
      });
      $(document).bind("keyup.dialog", function (e) {
        if (e.which == 27)
          hideDialog(dialog);
      });
      content.click(function (e) {
        e.stopPropagation();
      });
    }
    setTimeout(function () {
      dialog.css({opacity: 1});
      if (options.onLoaded)
        options.onLoaded();
    }, 1);
  }

  function hideDialog(dialog) {
    $(document).unbind("keyup.dialog");
    dialog.css({opacity: 0});
    setTimeout(function () {
      dialog.remove();
    }, 400);
  }
</script>
