<div id="bg" class="bg" ng-init="backtotop()">
    <img ng-src="images/home/bg.jpg">
    <h1>Frequently Asked Questions</h1>
</div>

<div class="container" style="padding-top: 50px;padding-bottom: 50px">
    <h1 style="color:#197500">Frequently Asked Questions </h1>

    <button class="accordion">Khaas Food কি?</button>
    <div class="panel">
        <p>Khaas Food একটি ভিন্নধর্মী ই-কমার্স প্লাটফর্ম যা আপনাকে দিবে নিশ্চিন্তে কেনাকাটার সুবিধা। আপনার  দুয়ারে গুনগত মানসম্পন্নও ভেজালমুক্ত খাদ্য পৌঁছে দিতে Khaas Food সদা বদ্ধপরিকর যা আপনাকে এনে দিবে শারীরিক,মানসিক, আত্মিক সুস্হতা ও প্রশান্তি।</p>
    </div>

    <button class="accordion">Khaas Food কেন একটি ভিন্নধর্মী online e commerce platform?</button>
    <div class="panel">
        <p>Khaas Food একটি ভিন্ন ধর্মী ই-কমার্স প্লাটফর্ম কারণ কথার ফুলঝুরি সাজিয়ে নিম্নমানের কোন পণ্য বাজারজাতকরণ আমাদের লক্ষ্য নয়।আমাদের লক্ষ্য বাজারের বাছাইকৃত এবং নিজেদের প্রতিনিধি দ্বারা মান নিয়ন্ত্রিত গুনগত মানসম্পন্ন খাদ্যদ্রব্য আপনাদের কাছে পৌঁছে দেয়া।</p>
    </div>

    <button class="accordion">মানসম্মত খাদ্য সরবরাহকারীর অপর নাম Khaas Food?</button>
    <div class="panel">
        <p>Khaas শব্দটির অর্থ হচ্ছে স্পেশাল তথা বিশেষ বা আলাদা কিছু। গুনগত মানসম্পন্ন ও ভেজালমুক্ত খাদ্য সরবরাহের ক্ষেত্রে Khaas Food আপোসহীন যা একে করেছে অন্য সবার থেকে আলাদা।</p>
    </div>
    <button class="accordion">Khaas Food কি online ক্রয় সুবিধা দিয়ে থাকে?</button>
    <div class="panel">
        <p>হ্যাঁ। শুধু তাই নয় আপনি আপনার যেকোনো ক্রেডিট বা ডেবিট কার্ড দিয়ে এমনকি যেকোনো Mobile Wallet  দিয়েও আপনার পণ্য ক্রয় করতে পারবেন। বিকাশ এর ক্ষেত্রে বিকাশ এরট্রানজেকশনফী ক্লায়েন্টবহনকরবেন। আরো আছে COD বা ক্যাশ অন ডেলিভারি।</p>
    </div>

    <button class="accordion">ক্যাশ অন ডেলিভারি কি?</button>
    <div class="panel">
        <p>COD হচ্ছে সরাসরি পণ্য ডেলিভারির সময় হাতে হাতে পেমেন্ট করার সুবিধা।</p>
    </div>

    <button class="accordion">বিকাশে টাকা তুলতে আপনার যেই ফি লাগে, সেটা দিতে হবে কি?</button>
    <div class="panel">
        <p>একহাজারে ২০ টাকার কাছাকাছি দেওয়া লাগে, টাকা তুলতে গেলে।এই টাকা-টা কাস্টমারের পে করাটা “বিকাশীয়ভদ্রতা”রঅন্তর্গত।</p>
    </div>
    <button class="accordion">Khaas Food কি হোম ডেলিভারি সুবিধা দিয়ে থাকে?</button>
    <div class="panel">
        <p>হ্যাঁ ,Khaas Food  আপনাদেরকে দিচ্ছে হোম ডেলিভারি সুবিধা।এই সুবিধা প্রদানের জন্য আমরা আপাতত ৫০ টাকা(ঢাকা সিটির অভ্যন্তরে) নিচ্ছি এবং ঢাকার বাইরে পণ্যের পরিমাণভেদে কুরিয়ার চার্জ নেয়া হয় যা সাধারণত ১০০-১৫০ টাকা হয়ে থাকে।</p>
    </div>

    <button class="accordion">Khaas Food কত দিনের মধ্যে পণ্য ডেলিভারি দিয়ে থাকে?</button>
    <div class="panel">
        <p>আমরা সাধারণত ঢাকা শহর এর মধ্যে ১-২ পূর্ণ কার্যদিবস এর মধ্যে পণ্য ডেলিভারি দিয়ে থাকি। তবে ঢাকার বাইরে হলে ২-৩ পূর্ণ কার্যদিবস এর মধ্যে পণ্য ডেলিভারি দিয়ে থাকি।</p>
    </div>

    <button class="accordion">Khaas Food কি ত্রুটিযুক্ত পণ্য ফেরত নিয়ে থাকে?</button>
    <div class="panel">
        <p>হ্যাঁ আমরা পরিবহন বা অন্য কোন কারনে পণ্য ত্রুটিযুক্ত হলে পণ্যটি ফেরত নিয়ে থাকি। সেক্ষেত্রে-

            পণ্যটি হাতে পাওয়ার ২৪ ঘণ্টার মধ্যে আমাদেরকে জানাতে হবে।
            সাত দিনের মধ্যে পণ্যটি আমাদের ঠিকানায় পৌঁছাতে হবে।</p>
    </div>
    <button class="accordion">দেশের বিভিন্ন জায়গায় কিভাবে পেতে পারি?</button>
    <div class="panel">
        <p>কুরিয়ারের মাধ্যমে।আর যে সব জায়গায় ডিলার আছে সেখানে তাদের মাধ্যমে।</p>
    </div>

    <button class="accordion">আমি নিতে আগ্রহী।কিভাবে পেতে পারি?</button>
    <div class="panel">
        <p>কি পণ্য নিবেন এবং কি পরিমাণ নিবেন সাথে সম্পূর্ণ ঠিকানা ও ফোন নাম্বারসহ ইনবক্স করতে হবে পেইজে। আমরা টোটাল কত পড়বে সেটা+ বিকাশ নাম্বার জানিয়ে দিব। টাকা পাঠানোর দুই দিনের মধ্যেই কুরিয়ারের মাধ্যমে পেয়ে যাবেন ইনশাআল্লাহ।</p>
    </div>

    <button class="accordion">আমি কি দেশের বাইরে থেকে পণ্য অর্ডার করতে পারব?</button>
    <div class="panel">
        <p>হ্যাঁ, পারবেন। সেক্ষেত্রে ডেলিভারীর ঠিকানা অবশ্যই বাংলাদেশের অভ্যন্তরে হতে হবে।</p>
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>