<div id="bg" class="bg" ng-init="backtotop()">
    <!--<img ng-src="images/home/bg.jpg">-->
</div>



<div class="container">
        <form name="registerForm" class="form-signin mjh_adminlogin" novalidate>
    <!--<form  name="recover" class="form-signin" novalidate style="margin-top:20px">-->
            <div class="mjh_modal-header">
                <h4 class="modal-title" id="myModalLabel">Recover Password</h4>
            </div>
            <div>
                <div class="control-group">
                    <input type="email" class="form-control" placeholder="enter your email" name="email" ng-model="user.email" required>
                </div>
                <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="send()" value="send" />
            </div>

            <div ng-show="ss">
                {{foundEmail}}
            </div>
        </form>
</div>

