<div class="registration-form">
    <div id="bg" class="bg" ng-init="backtotop()">
        <!--<img ng-src="images/home/bg.jpg">-->
    </div>
    <div class="container">
        <form name="registerForm" class="form-signin mjh_adminlogin" novalidate>
        <div >
                <!--ng-if="errors.length"-->


            <div class="alert alert-danger" role="alert" ng-repeat="error in errors2">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>

            <div class="control-group">
                <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>

            </div>
            <div class="control-group">
                <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword" ng-model="user.confirmPassword" required>

            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="resetPassword()" value="Reset Password" />
        </div>
       <div >  <!-- ng-if="errors.length"-->
            <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        </div>

    </form>
        </div>
</div>
